<html>
  <head>
    <title>Ezra's Blog</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="../styles/main.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="container">
      <div id="nav-bar">
        <a href="/" class="btn">Home</a>
        <a href="blog/te-houtaewa-template.html" class="btn"
          >Te-Houtaewa Template</a
        >
        <a href="/blog/html-css.html" class="btn">Margins, Borders & Padding</a>
      </div>

      <div class="row">
        <div class="column left text-center">
          <!-- <h2>column 1</h2> -->
          <!-- <div style="background-color: black; margin-top: 50%;"></div> -->
        </div>
        <div class="column middle scrollbar text-center">
          <img src="/images/judaslogo.png" alt="logo" class="logo" />
          <h1>middle</h1>
        </div>
        <div class="column right text-center">
          <!-- <h2>column 3</h2> -->
          <!-- <div style="background-color: black; margin-top: 50%"></div> -->
        </div>
      </div>
      <footer>
        <div id="foot"></div>
      </footer>
    </div>
  </body>
</html>
