@font-face {
  font-family: Old-London;
  src: url('Fonts/old-london/OldLondon.ttf');
}
@font-face {
  font-family: Runescape;
  src: url('Fonts/osrs/runescape.ttf');
}

.content-box {
  border: 5px solid black;
  background-color: black;
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
}

#invert-logo {
  border: 5px solid black;
  background-image: url(../images/judasprehover.png);
  background-size: cover;
  width: 10vw;
  height: 10vw;
}

#invert-logo:hover {
  background-image: url(../images/JudasHover.png);
  width: 10vw;
  height: 10vw;
}

.logo-btn {
  display: inline-block;
}

a.btn-logo:link,
a.btn-logo:visited {
  color: white;
  text-decoration: none;
}

.center-shadow-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    2px 2px 0 black;
}

body {
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
  /* display: flex; */
}
.text-center {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 103px);
}
.row {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.column {
  /* height: 100%; */
  padding: 10px;
}
.left,
.right {
  width: 25%;
  background-image: url('../images/nuke.gif');
  background-position: center;
  background-size: cover;
}
.middle {
  width: 50%;
}
.row:after {
  content: '';
  display: table;
  clear: both;
}

.scrollbar {
  overflow: auto;
}
.scrollbar::-webkit-scrollbar {
  display: none;
}

.logo {
  width: 15%;
  position: relative;
  /* top: -11%; */
}

.btn {
  border: 5px solid rgb(112, 0, 0);
  background-color: rgb(112, 0, 0);
  color: black;
  font-family: Old-London;
  font-size: 25px;
  cursor: pointer;
}
.btn:hover {
  background-color: black;
  color: rgb(112, 0, 0);
}
.offset {
  position: relative;
  top: -11%;
}

#nav-bar {
  /* margin-top: 1.5%; */
  overflow: hidden;
  max-width: 100%;
  border: 10px solid;
  border-color: rgb(112, 0, 0);
  /* position: fixed;
  background-color: black; */
}

.all {
  height: 100vh;
}

#foot {
  /* margin-bottom: 1.5%; */
  overflow: hidden;
  max-width: 100%;
  text-align: center;
  /* border: 20px solid; */
  /* border-color: rgb(112, 0, 0); */
  background-color: rgb(112, 0, 0);
}

h1,
h2,
h3,
h4 {
  font-family: Old-London;
}

h4 {
  font-size: 20px;
}

h1 {
  font-size: 50px;
  /* position: relative;
  top: -11%; */
}
h2 {
  font-size: 30px;
  /* position: relative;
  top: -11%; */
}
h3 {
  font-size: 25px;
  /* position: relative;
  top: -11%; */
}

p {
  font-family: Runescape;
  font-size: 18px;
}
ul {
  font-family: Runescape;
  font-size: 18px;
}

b {
  font-family: Runescape;
  font-size: 20px;
}
