@font-face {
  font-family: Old-London;
  src: url('Fonts/old-london/OldLondon.ttf');
}
@font-face {
  font-family: Runescape;
  src: url('Fonts/osrs/runescape.ttf');
}

body {
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
}
.text-center {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.row {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.column {
  height: 100%;
  padding: 10px;
}
.left,
.right {
  width: 25%;
  background-image: url('../images/nuke.gif');
  background-position: center;
  background-size: cover;
}
.middle {
  width: 50%;
}
.row:after {
  content: '';
  display: table;
  clear: both;
}

.btn {
  border: 5px solid rgb(112, 0, 0);
  background-color: rgb(112, 0, 0);
  color: black;
  font-family: Old-London;
  font-size: 25px;
  cursor: pointer;
}
.btn:hover {
  background-color: black;
  color: rgb(112, 0, 0);
}

#nav-bar {
  overflow: hidden;
  max-width: 100%;
  border: 20px solid;
  border-color: rgb(112, 0, 0);
}

h1,
h2,
h3,
h4 {
  font-family: Old-London;
}
p {
  font-family: Runescape;
}
